header {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 40px;
  font-family: Stinger Wide;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
}